body{
  background-image: url('./resources/hd-wallpaper-g6cdf55a9b_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-white{
background-color: #eee;
padding: 40px 20px;
}
.bg-green{
  background-color: #008f98;
}
.curved-border{
  border-radius: 20px;
  max-width: 900px;
}
.container { 
  align-self: center;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;  
  border:none; 
} 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
