body{
    background: #ccc!important;
}
.custom-margin{
    margin-top: 4rem;
}
.brand{
    background-color: #fff;
    padding: 12px 14px;
    border-radius: 50%;
    font-size: 27px;
    font-weight: bold;
    position:relative;
    top: 6px;
    color:#008f98;
    margin-left: 20px;
}
.brand:hover{
    color:#008f98;
    text-decoration: none;
}
.sticky-nav{
    position: fixed;
    width: 100%;
    z-index: 4;
}
.nav-icon{
    color: #ccc!important;
    font-size: 14px;
    cursor: pointer;
    transition: all .4s;
}
.nav-icon:hover, .nav-icon.selected{
    color: #fff!important;
}

input[type=text], input[type=password], select {   
    width: 77%;   
    margin: 5px 2px;  
    padding: 15px 24px;   
    display: inline-block;
    border:none;   
    border-radius: 30px; 
    background-color: #e0e0e0;
    box-sizing: border-box;   
}
.dashboard {  
    margin: 20px;
    align-self: center;
    border: none;
    background-color: rgb(223, 223, 233);
    border-radius: 5px;
}
.container .rows .navbar{
    max-width: 720px;
}
.rows ul {
    list-style-type: none;
    background-color: #008f98;
}
.group-rows ul {
    list-style-type: none;
    background-color: #008f98;
}
.rows li a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  .bg-1{
    background-color:#008f98;
  }
  .nav-icon i{
    font-size: 28px;
    display: block;
  }
  .nav-menu{
    display: inline-flex;
    float: right;
    margin: 0 0 10px 0;
  }
  .nav-menu li{
    width: 90px;
    text-align: center;
  }
.p-0{
    padding: 0 !important;
}
.m-0{
    margin:0 !important;

}
.left-pane,.right-pane{
    padding: 0!important;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #aaa;
}
.userImage-section{
    border-radius: 20px;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    color: #fff;
}
.login-image-div{
margin: 10px auto;

}
.spacer-30{
    min-height: 30px;
    width: 100%;
}
.pane-content{
    padding: 0 20px;
}
ul.profile-content{
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    overflow: hidden;
    background-color: #3330;
}
ul.profile-content li{
    padding: 10px 5px;
    border-bottom: 1px dashed #ccc;
}
.create-post-pane{
    background-color: #eee;
    color: #008f98;
    border-radius: 12px;
    margin: 12px 0;
    width: 100%;
    padding: 5px 20px;
}
.create-post-pane .creare-post-flex{
    display: inline-flex;
}
.creare-post-flex .create-post-name{
    padding: 8px;
}
.create-post-btn button{
    border-radius: 50%;
    padding: 7px 15px;
    font-size: 20px;
}
.create-post-btn{
    position: absolute;
    right: 1rem;
}
.post-pane{
    background-color: #eee;
    color: #000;
    border-radius: 12px;
    margin: 12px 0;
    width: 100%;
    padding: 15px 20px;
}
.post-pane .title{
    display: inline-flex;
}
.image{
        width: inherit;
        height: fit-content;
        overflow: hidden;
        border-radius: 50%;
    margin-right: 20px;
}
.content .post-image{
    width: 100%;
    height: 350px;
    overflow-y:hidden;
}
.post-image img{
    width: 100%;
    height: 100%;
}
.actions{
    display: inline-flex;
    width: 100%;
    text-align: center;
    margin-top: 1px;
    padding: 0 15px;
    border-top: 1px solid #aaa;
}
.posts{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.post_comments{
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 5px 10px;
}
.post_comments .commenter{
    font-weight: bold;
    color: #008f98;
    margin: 6px 0 5px 0;
}
.commenter_image{
    width: 20px;
    height:20px;
    border-radius: 50%;
    overflow: hidden;
}
.commenter_image img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    
}
.comment_when{
    color: #888;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
}
.group-posts{
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.users{
    border-radius: 10px;
    text-align: center;
    color: #fff !important;
    margin: 0;
    padding:10px;
}
.search-bar{
    margin: 5px;
}
.search-bar i{
    position: absolute;
}
.icon{
    padding: 12px;
    min-width: 40px;
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.search-bar input[type=text]{
    padding: 2px 14px;
    border:1px solid rgb(39, 34, 34);
    background-color: #fff;
    width:100%;
}
.multiple-users p{
    padding-left: 20px;
    margin:0;
    font-weight: 400;
}
.multiple-users hr{
    margin: 0;
}
.users-select{
    height: 292px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.users-select-group{
    height: 216px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.users-select ul{
 margin:2px;
 padding:5px;
}
.users-select-group ul{
    margin:2px;
    padding:5px;
   }
.multiple-users{
    display:inline-flex;
    margin:5px;
   padding: 8px;
    width:100%;
    height:60px;
    border-radius: 10px;
    background-color: #ddd;
    gap:10px;
}
.multiple-users.with-message{
    background-color: #888!important;
    color:#fff!important
}
.multiple-users .user-image{
    height:45px;
    width:45px;
    border-radius: 50%;
}

.multi-line-search-bar{
    border:1px solid rgb(39, 34, 34) ;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
}
.multi-line-search-bar input[type=text]{
    padding: 2px 20px;
    font-size: 35px;
    background-color: #fff;
    width:100%;
}
.post-btn{
    text-align: right;
}
.chat-box .title {
    margin-top: 1px;
    display: inline-flex;
}
.chat-box{
    height: 420px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x:hidden;
    padding-top: 5px;
}

.chat-box .title .image {
    width: 30px;
    height: 0px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.group-chat .title {
    margin-top: 1px;
    display: inline-flex;
}
.group-chat{
    height: 332px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x:hidden;
    padding-top: 5px;
}

.group-chat .title .image {
    width: 30px;
    height: 0px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.post-bar .post-text-bar{
    display: inline-flex;
}

.post-message-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 10px 15px 0 7px;
}

.uploads p{
    margin-top: 20px;
}
.uploads i{
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}
.post-text{
    width: 94%;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 15px;
}
.form-group{
    display: inline-flex;
    margin-left: 1rem;
}
.form-group input[type=radio]{
    margin-left: 1rem;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.post-form{
    height: 0;
    overflow: hidden;
    transition: height ease .5s;
}
.show-post-form{
    height: 228px;
}
.show-post-form-vol{
    height: 230px;
}
.uploads{
    height: 0;
    overflow: hidden;
    transition: height ease .5s;
}
.show-post-form-image{
    height:700px;
}
.show-post-form-image-vol{
    height:695px;
}
#fa-camera i{
    transition: all ease-in-out .4s; 
}
#fa-camera{
    transition: all ease-in-out .4s;
}
#plus-ic i{
    transition: all ease-in-out .4s;
}
.plus-to-cross i{
    transform:rotate(45deg);
}
#plus-ic{
    transition: all ease-in-out .4s;
}
.plus-to-cross{
    background-color: #e20;
}
.users-img{
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-title-img{
    width: 50px;
    height:50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-title{
    text-align: left;
    margin-bottom: 0!important;
}
.list-none{
    list-style: none;
    display: block;
    padding-left:0 ;
}
li.from-message{
background-color: #ddd;
color: #000;
display: block;
position: relative;
margin-left: -28px;
margin-bottom: 10px;
    max-width: 80%;
    width: max-content;
    padding: 8px 10px;
    border-radius: 12px;
}
li.to-message{
    background-color: #008f98;
    color: #eee;
    display: block;
    text-align: left;
    position: relative;
    margin-left: auto;
    max-width: 80%;
    width: max-content;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 12px;
}
.post-bar{
    border-top: 1px solid #bbb;
    background-color: white;
    position: absolute;
    border-radius: 0 0 20px 20px;
    bottom: 0px;
}
.from-message span{
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
}
.to-message span{
    display: block;
    font-size: 12px;
    text-align: right;
    font-weight: 300;
}
.from-message user{
    display: block;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}
.user-post {
    display: none;
}
.uploads span {
    font-size: 16px;
    margin: 0 0 0 4px;
    font-weight: 400;
}
#img-post{
    height:450px;
    width: 450px;
    border: none;
}
.chat-section b{
    font-weight: bold;
    font-size: 16px;
}
#zero-users{
    position: absolute;
    bottom:26%;
    left:25%;
    font-weight: 500;
}
.visible-false{
    display: none;
}
#zero-users-chat{
    position: absolute;
    bottom:22%;
    left:30%;
    font-weight: 500;
}
.bg-red{
    background-color: #eb2727;
  }
.emergencybtn{
    border-radius: 20px;
    padding:1px;
}
.aprove {
    margin: 5px 10px;
}
.aprovebtn{
    color: #ddd;
    box-shadow: 5px 10px 8px #888888;

}
.declinebtn{
    margin-left: 10px;
    color: #ddd;
    box-shadow: 5px 10px 8px #888888;
}
.groupemergency{
    margin-left: 30px;
    padding: 12px 25px;
}
.groupnormal{
    margin-left:30px;
    padding: 12px 38px;
}
.comment{
   background-color: #00a880 !important;
    border-radius: 35%;
    color:#fff;
    margin: 0 0 0 6px;
    padding: 12px 15px;
    font-size: 20px;
    font-weight: bold;
}
.comment-count{
    position: absolute;
    background: #d55;
    font-size: 12px;
    border-radius: 50%;
    padding: 4px 7px;
    z-index: 1050;
    right: -18px;
    margin-top: -20px;    
}
.post_likes{
    background-color: #87928f !important;
    border-radius: 35%;
    color: #ccc;
    margin: 0 6px 0 0px;
    padding: 10px 15px;
    font-size: 10px;
    position: relative;
    top: -10px;
}
.post_likes i{
    display: block;
}
.post_likes.liked{
    background-color: #008f98!important;
    color: #fff;
}
.commenttext input[type=text]{
    width:62%;
}
.fa-thumbs-up{
    font-size:19px;
}
.commentsend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 10px;
}
.multiple-users-select{
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.multiple-users-select ul{
 margin:2px;
 padding:5px;
}
.image-div .user-image-img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.tab-pane{
    background-color: #ccc;
}
.tab{
    margin: 0px 0!important;
    background: #0000;
    color: #444;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 10px;
}
.tab.selected{
background-color:#008f98;
border-color: #aaa;
color: #eee;
}
.pl-15{
    padding-left: 2.1rem;
}

.refresh {
    position: absolute;
    right: 20px;
    margin-top: -51px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    z-index: 2;
    color: #fff!important;
}

table, th {
    border:1px solid black;
    padding: 14px 30px;
    margin: 30px 0px 0px 0;
  }
 table, td{
    border:1px solid black;
    text-align: center;
    padding: 0px 10px;
  }
  td .user-image-container{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;
    margin: auto;
  }
  td .user-image-container .user-image{
    width: inherit;
    height: inherit;
  }
.logout_admin{
    position: fixed;
    right: 70px;
    top: 25px;
}
.location{
    color: #aaa!important;
}
.location.added{
    color:#008f98!important
}
.location_marker{
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #008f98;
}
.location_marker a i{
    margin: auto;
}
#fa-fa-camera{
    height: 40px;
    width: 45Px;
    font-size: 20px;
    margin: 12px 0 0 0!important;
    border-radius: 50%;
}
.cam{
    padding:12px 8px 0 13px;
}
.chat-image{
    height: 400px;
}
.chat-box{
    transition: height ease .5s;
}

#chat-image-post{
    height: 150px;
    width:100%
}
#image-chat{
    height:150px;
    width: 170px;
    margin: 0 0 0 -5px;
    border-radius: 10px;
}
.event_count{
    background-color: #87928f !important;
    border-radius: 10px;
    color: #ccc;
    margin: 6px 6px 0 0px;
    padding: 5px 14px;
    font-size: 15px;
    position: relative;
}
.event_count span{
    display: block;
}
.event_count.liked {
    background-color: #008f98!important;
    color: #fff;
}
.event_comment{
    background-color: #00a880 !important;
    color: #fff;
    margin: 7px 0 0 0;
    float: right;
    padding: 12px 15px;
    font-size: 17px;
    border-radius: 10px;
}
.view_comments{
    background-color: #ddd;
    margin: 5px 0 0 0;
    border-radius: 12px;
    padding: 15px 8px 1px 8px;
    align-self: center;
    text-align: -webkit-left;
}
.view_image{
    width: 30px;
    height: 30px;
    border-radius: 30%;
    overflow: hidden;
}
.view_image img {
    width: inherit;
    height:inherit;
    border-radius: 50%;
}
.view_when{
    color: #888;
    font-weight: 400;
    font-size: 12px;
    margin: 7px 0 0 0;
    float: right;
}
.list-none-view {
    list-style: none;
    display: block;
    padding-left: 0;
    margin-bottom: 0;
}
.form-control {
    display: inline-flex;
    margin: -6px 0 0 0px;
}
label {
    display: inline-flex;
    margin-bottom: 0.5rem;
}
.inline-flex{
    display: inline-flex;
}
.end-date-time{
    margin:0 0 -6px -16px;
}
#appt {
    padding: 6px 16px;
    margin: -6px 0 0 0px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
.end_btn{
    padding: 8px 10px;
}
.meettime{
    margin:0;
}
.videoview{
    height: 345px;
    width: 100%;
}
.chat-box-min{
    height: 400px;
}
.hide-chat-box-min{
    height: 0;
    overflow: hidden;
}
.minimize-chat{
    height: 68px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: height ease .2s;
}
.minimize-chat #ps-bar{
    display: none;
}
.user-image-div{
    width: 50px;
    height: 50px;
    overflow: hidden;
}